body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    height: 100%;
    margin: 20px;
    padding: 10px;
}

a, button {
    margin: 5px auto;
    width: 250px;
    max-width: 100%;
}